* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;
  /*max-width: 1180px;*/
  /* 📍 Максимальная ширина для контейнера */
}
body {
  font-family: "Inter", sans-serif;
  color: #303030;
  min-width:375px;
}
header {/* coment*/
  background-color: #2965F1;
  padding: 23px 0;
}
header span {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.main-section {
  display:flex;
  background-color: #fafaff;
  padding: 60px 0;
  min-height: 100vh;
  align-items:center;
  /* 📍 Свойства flexbox для размещения container-a вертикально по центру */
}
.main-section .wrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  /* 📍 Свойствa flexbox для размещения блока с текстом и изображения в ряд, и центрирования их по вертикали */
}
.text-wrapper {
  max-width: 420px;
  /* 📍 Cвойство для ограничения ширины блока с текстом в первой секции */
}
.main-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}
.main-text {
  font-weight: 400;
  font-size: 18px;
}
.main-image {
  max-width: 715px;
}
.about-section {
  background-color: #fff;
  padding: 100px 0;
}

.about-section .wrapper {
  display: flex;
  flex-direction: column;
  gap:60px;
  /* 📍 Свойствa flexbox для отступов между элементами select, .info-wrapper и .skills-wrapper  */
}
select {
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  width: 150px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  appearance: none; 
  background-image: url("222.svg");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;

}

select:hover,
.text-field:hover {
  border: 1px solid #2965F1;
  /* 📍 Стили для выпадающего списка и текстового поля при наведении курсора */
}
.info-wrapper {
  display: flex;
  /* 📍 Свойство flexbox для расположения 2-х списков в ряд */
}
.section-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}
.frameworks,
.books {
  min-width: 50%;
  
}
.frameworks-list,
.books-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* 📍 Свойства flexbox для отступов между элементами в списках */
}
.frameworks-list {
  font-weight: 400;
  font-size: 16px;
  list-style-image: url("333.svg");
  padding-left: 20px;
}
.skills-block {
display: flex;
flex-direction: column-reverse;

  /* 📍 Свойства flexbox для расположения формы над элементами с классом .label */
}
.skills {
display: flex;
flex-direction: column;
gap: 20px;
  /* 📍 Свойства flexbox для расположения элементов с классом .label */
}

.books-list {
font-weight: 400;
font-size: 16px;
padding-left: 20px;

}

.label {
  font-weight: 400;
  font-size: 16px;
}
form {
  margin-bottom: 40px;
}
.text-field {
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  max-width: 330px;
  width: 100%;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
}
.btn {
  border: none;
  border-radius: 5px;
  min-width: 125px;
  height: 36px;
  background-color: #2965f1;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.btn:hover {
  background: #2965F1E5;
  cursor: pointer; 
  /* 📍 Стили для кнопки при наведении курсора */
}
.line {
  margin: 60px 0;
}
table {
  border: 1px solid #95a1bb;
  border-collapse: collapse;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
}
th, td {
  padding: 12px 15px;
}
footer {
  background-color: rgba(163, 167, 255, 0.3);
  padding: 26px 0;
  text-align: center;
  /* 📍 Свойство для расположения ссылки горизонтально по центру */
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  color: #2965f1;
  text-decoration: none;
 
}
.footer-link:hover {
  text-decoration: underline;
  /* 📍 Стили для ссылки при наведении курсора */
}

form {
  display: flex;
  flex-direction: row;
  gap:10px;
}




/* Стили для адаптива под планшеты */
@media screen and (max-width: 1200px) {
    .main-section {
      min-height: 850px;
      padding: 0 0 100px;
      display: flex;
      flex-direction: column-reverse;
        /* 📍 Свойства для установки минимальной высоты секции по размеру контента и нижнего внутреннего отступа */
    }

    .main-section .wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 60px;
      padding: 0 20px;
        /* 📍 Свойства для расположения элементов и отступа между ними */
    }

    .main-image {
    max-width: 100%;
    margin: 0 0 60px;
        /* 📍 Максимальная ширина для главного изображения в % */
    }

    .text-wrapper {
    max-width: 560px;
    text-align: left;
        /* 📍 Максимальная ширина для блока с текстом */
    }

    .about-section {
      max-width: 768px;
      padding: 60px 0;
    /* 📍 Внутренний отступ сверху и снизу */
    }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 60px;
    /* 📍 Отступ между изображением и блоком с текстом */
  }
  select {
  margin:0  20px;
  }
  .skills-wrapper {
    text-align: left;
    margin: 0 20px;
  }


}


@media screen and (max-width: 768px) {
  .info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 60px;
      /* 📍 Свойства для расположения 2-x списков и отступа между ними */
  }
}

/* Стили для адаптива под мобильные устройства */
@media screen and (max-width: 576px) {
  
  .main-section {
    padding: 30px 0 60px;

      /* 📍 Внутренние отступы сверху и снизу */
  }

  .main-section .wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
      /* 📍 Отступ между изображением и блоком с текстом */
  }

  .main-title {
font-size: 36px;
font-weight: 700;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

      /* 📍 Размер шрифта */
  }

  .about-section .wrapper,
  .info-wrapper {
    gap: 40px;
      /* 📍 Отступ между изображением и блоком с текстом */
  }
  form {
    display: flex;
    flex-direction: row;
    gap:10px;
  }
}
